body{
 font-family: Arial, Helvetica, sans-serif;
 position: relative;
}

nav{
  /* display: flex; */
  background: black;
  padding: 0.5%;
  font-family: sans-serif, cursive;

}

nav>a{
  color: white;
  text-decoration: none;
  font-size: 1.7em;
  margin: 15px;
  }

  nav>a:hover{
    color: paleturquoise;
  }

  /*Sticky Navigation style*/
  .sticky{
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
 
  }

  .Nav-float-right{
    float: right;
    font-size: 1.7em;
   
  }

  .Nav-float-right a{
    color: white;
    text-decoration: none;
  }

 
  .portfolio{
    background-image: url('/images/coding.jpg');
    background-size: cover;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    color: white;
    
  }
 

  /*cover style*/
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    height: 40vh;
  }


/*float four columns side by side*/
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-top: 10px;
  margin-left: 30px;
}

/*Remove extra left and right margins, due to padding*/
.row {margin: 0 -5px;}

/*Clear floats after the columns*/
.row:after{
  content: "";
  display: table;
  clear: both;

}

.about{
  padding: 25px;
  background-color: rgb(199, 220, 223);
}

.about h2{
  text-align: center;
}

.aboutme{
  border: 5px solid rgb(252, 238, 178);
  text-align: center;
  font-family: 'Kalam', cursive;
}

.projects{
  padding: 25px;
  background-color: #f1f1f1;
  
}

.projects h2{
  text-align: center;
}

.card{
  
  background-color: rgba(255, 255, 255, 0.29);
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  transition: all 0.3s linear;

}

.card img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: white;
}

/* .card image-text{
  text-align: center;
  background: white;
} */


/* Technologies section */
.Technologies{
background-color: #f3f9fd;
background-position:center;
background-repeat: no-repeat;
margin-top:46px;
padding-right:30px;
padding-bottom:20px;
padding-left:30px;
}

footer{
  /* position: absolute; */
  width: 100%;
  height: 70px;
  bottom: 0;
  text-align: center;
  background-color: #646363;
  color:white;
  padding-top: 15px;

} 

footer p:last-child{
  color: white;
  text-decoration: none;
}

footer a{
  color: #fff;
  text-decoration: none;
}

/*screen less than 1200px*/
@media only screen and (max-width: 1200px){

}
 

/*start of desktop styles */
@media screen and (max-wdith: 990px){
  /*start of large tablet styles */
}


@media screen and (max-width: 600px){
  /* start of medium tablet styles*/
}

@media screen and (max-width: 450px){
    /*float four columns side by side*/


    .portfolio{
      background-image: url('/images/coding.jpg');
      background-size: cover;
      text-align: center;
      font-family: 'Indie Flower', cursive;      
    }

  .card{
    display: inline-block;
    /* text-align: center; */
    /* transition: all 0.3s linear; */
    padding: 90px;
  
  }

  .row{
    width: 10%;
  }


  
.card img{
  display: block;
  width:200%;
  background: white;
}
  

  /*Clear floats after the columns*/
  .row:after{
    content: "";
    display: table;
    clear: both; 

   } 

}