body{
  margin: auto 0;
}

nav{
  display: flex;
  background: black;
}

nav>a{
  color: white;
  text-decoration: none;
  font-size: 1.7em;
  margin: 15px;
  }

  a:hover{
    color: #000;
    background-color: #ccc;
  }

  /*Sticky Navigation style*/
  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }

  /*cover style*/
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  .coverPicture{
    width: 30rem;
  }



.about{
  padding: 25px;
  background-color: powderblue;
}

.projects{
  background-color: white;
  padding:50px;

}

footer{
  text-align: center;
  background-color: #f1f1f1;
  padding: 25px;
}
