body{
  margin: auto 0;
}


nav{
  /* display: flex; */
  background: black;
}

nav>a{
  color: white;
  text-decoration: none;
  font-size: 1.7em;
  margin: 15px;
  }

  /*Sticky Navigation style*/
  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }

  /*cover style*/
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    height: 50vh;
  }

.about{
  padding: 25px;
  background-color: powderblue;
}

.aboutme{
  border: 5px solid yellow;
  text-align: center;
}

.projects{
  background-color: #f1f1f1;
}

.Card{
  display: inline;
}



/* Technologies section */
.Technologies{
background-color: #f3f9fd;
background-position:center;
background-repeat: no-repeat;
padding-top:46px;
padding-right:30px;
padding-bottom:20px;
padding-left:30px;
}

footer{
  text-align: center;
  background-color: #f1f1f1;
  padding: 25px;
}
